<div class="appcomponent">
  <nav>
    <a href="https://plotly.com/">
      <img
        class="logo"
        src="https://images.prismic.io/plotly-marketing-website-2/69e12d6a-fb65-4b6e-8423-9465a29c6028_plotly-logo-lg.png?auto=compress%2Cformat&fit=max&w=256"
        alt="Plotly Logo"
      />
    </a>
    <div class="separator"></div>
    <div class="title">Financial Charts</div>
    <div class="buttons">
      <a routerLink="bullet"><button>Bullet Chart</button></a>
      <div class="separator"></div>
      <a routerLink="waterfall"><button>Waterfall Chart</button></a>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
